.erebor-app {
    transition: padding-left 0.3s ease-in-out;
}

.filter-shown {
    padding-left: 300px;
}

.erebor-filter-bar-wrapper {
    position: absolute;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 3.5em 1em 1em;
    background: #f5f4f2;
    border-right: 1px solid #dfdddc;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.erebor-filter-bar-wrapper.is-shown {
    left: 0;
}

.erebor-filter-bar-wrapper .erebor-search {
    border-radius: 8px;
    padding: 0.5em;
    width: 100%;

    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);
    background: rgb(255, 255, 255);
    color: rgb(69, 69, 69);

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);
}

.erebor-filter-bar-wrapper .erebor-search:focus {
    box-shadow: 0 0 0.5px rgb(79, 136, 159);
    border: 1px solid rgb(100, 172, 201);
}

.erebor-filter-bar-wrapper .erebor-filter-dropdown {
    border-radius: 8px;
    padding: 0.5em;
    width: 100%;

    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);

    text-align: center;

    appearance: none;
    background: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjYXJldC1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2FyZXQtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyMCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTMxLjMgMTkyaDI1Ny4zYzE3LjggMCAyNi43IDIxLjUgMTQuMSAzNC4xTDE3NC4xIDM1NC44Yy03LjggNy44LTIwLjUgNy44LTI4LjMgMEwxNy4yIDIyNi4xQzQuNiAyMTMuNSAxMy41IDE5MiAzMS4zIDE5MnoiPjwvcGF0aD48L3N2Zz4=');
    color: rgb(69, 69, 69);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);

    margin: 0.2em 0;
}

.erebor-filter-bar-wrapper .erebor-delete-search {
    opacity: 0.5;
    display: inline;
    position: absolute;
    top: 3.95em;
    right: 1.5em;
    cursor: pointer;
}

.erebor-filter-bar-wrapper .erebor-delete-search:active {
    opacity: 0.8;
}

.erebor-filter-bar-wrapper .erebor-filter-section-title {
    font-weight: bold;
    color: #9d9c9b;
    font-size: 10px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.erebor-filter-bar-wrapper .erebor-filter-section.is-hidden {
    display: none;
}