.erebor-app {
    transition: padding-left 0.3s ease-in-out;
}

.filter-shown {
    padding-left: 250px;
}

.erebor-options-bar-wrapper {
    position: absolute;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 250px;
    padding: 3.5em 1em 1em;
    background: #f5f4f2;
    border-right: 1px solid #dfdddc;
    z-index: 10;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.erebor-options-bar-wrapper.is-shown {
    left: 0;
}

.erebor-options-bar-wrapper .erebor-search {
    border-radius: 8px;
    padding: 0.5em;
    width: 100%;

    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);
    background: rgb(255, 255, 255);
    color: rgb(69, 69, 69);

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);
}

.erebor-options-bar-wrapper .erebor-search:focus {
    box-shadow: 0 0 0.5px rgb(79, 136, 159);
    border: 1px solid rgb(100, 172, 201);
}

.erebor-options-bar-wrapper .erebor-delete-search {
    opacity: 0.5;
    display: inline;
    position: absolute;
    top: 4.4em;
    right: 1.5em;
    cursor: pointer;
}

.erebor-options-bar-wrapper .erebor-delete-search:active {
    opacity: 0.8;
}

.erebor-options-bar-wrapper .erebor-options-section-title {
    font-weight: bold;
    color: #9d9c9b;
    font-size: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.erebor-options-bar-wrapper .erebor-options-section.is-hidden {
    display: none;
}

.erebor-options-bar-wrapper .erebor-options-section {
    padding-top: 0.5em;
}

.erebor-options-bar-wrapper .erebor-options-section .erebor-options-note {
    font-size: 10px;
}

.erebor-options-bar-wrapper .erebor-filter-switch {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.2em;
}

.erebor-options-bar-wrapper .erebor-filter-switch.is-grayed-out {
    opacity: 0.4;
}

.erebor-options-bar-wrapper .erebor-options-section .erebor-section-label {
    font-size: 14px;
    padding-left: 0.5em;
}

.erebor-options-bar-wrapper .erebor-options-section.erebor-filter-switch {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.erebor-options-bar-wrapper .erebor-filter-switch .erebor-button-group {
    margin-left: auto;
    font-size: 10px;
}

.erebor-options-bar-wrapper .erebor-options-section > .erebor-button {
    margin-bottom: 0.3em;
}