.erebor-toolbar {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5em;

    padding: 0 0.5em;

    background: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(227,227,227);
}

.erebor-toolbar-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 80rem;
    max-width: 960px;
}

.erebor-toolbar-button,
.erebor-toolbar-years {
    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);
    background: rgb(255, 255, 255);

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);

    user-select: none;
}

.erebor-toolbar-button:active {
    background: rgb(243, 243, 243);
}

.erebor-toolbar-years-button {
    border-left: 1px solid rgb(231, 231, 231);
}

.erebor-toolbar-years-button.is-selected {
    background: rgb(243, 243, 243);
    box-shadow: inset 0 -0.5px 0.5px rgb(218, 218, 218);
}

.erebor-toolbar-title {
    padding-top: 0.25em;
    text-decoration: underline rgb(214, 214, 214);
    cursor: pointer;
}

.is-stretched {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}