body {
    margin-top: 3em;
}

.erebor-toolbar {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    width: 100%;

    padding: 0 0.7em;

    background: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(227,227,227);
}

.erebor-toolbar-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 80rem;
    max-width: 960px;
}

.erebor-toolbar-title {
    min-width: 0;
    padding-top: 0.25em;
    text-decoration: underline rgb(214, 214, 214);
    cursor: pointer;
    flex-shrink: 1;
}

.erebor-toolbar-title-content {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    max-width: 100%;
}

.erebor-toolbar-title-year {
    display: none;
    padding: 0 0.25em;
}

.is-stretched {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}


@media screen and (max-width: 512px) {
    .erebor-toolbar-title {
        text-align: right;
        justify-content: flex-end;
    }

    .erebor-toolbar-content {
        max-width: 100%;
    }

    .erebor-toolbar-title-year {
        display: inline;
    }

    .erebor-toolbar-years {
        display: none;
    }
}