.erebor-button {
    padding: 0.5em 0.75em;
    border-radius: 8px;
    cursor: pointer;
}

.erebor-button-group {
    border-radius: 8px;
}

.erebor-button-group > .erebor-button {
    display: inline-block;
    padding: 0.5em 0.5em;
    border-radius: 0;
    cursor: pointer;
}

.erebor-button-group > .erebor-button:first-child {
    border-left: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.erebor-button-group > .erebor-button:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.erebor-button--gray,
.erebor-button-group--gray {
    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);
    background: rgb(255, 255, 255);
    color: rgb(69, 69, 69);

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);

    user-select: none;
}

.erebor-button--center {
    text-align: center;
}

.erebor-button--gray:active,
.erebor-button-group .erebor-button:active {
    background: rgb(243, 243, 243);
}

.erebor-button-group--gray .erebor-button {
    border-left: 1px solid rgb(231, 231, 231);
}

.erebor-button-group--gray .erebor-button.is-selected {
    background: rgb(243, 243, 243);
    box-shadow: inset 0 -0.5px 0.5px rgb(218, 218, 218);
}

.erebor-dropdown-select {
    border-radius: 8px;
    padding: 0.5em;
    width: 100%;

    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);

    text-align: center;

    appearance: none;
    background: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjYXJldC1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2FyZXQtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyMCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTMxLjMgMTkyaDI1Ny4zYzE3LjggMCAyNi43IDIxLjUgMTQuMSAzNC4xTDE3NC4xIDM1NC44Yy03LjggNy44LTIwLjUgNy44LTI4LjMgMEwxNy4yIDIyNi4xQzQuNiAyMTMuNSAxMy41IDE5MiAzMS4zIDE5MnoiPjwvcGF0aD48L3N2Zz4=');
    color: rgb(69, 69, 69);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    box-shadow: 0 0.5px 0.5px rgb(226, 226, 226);

    margin: 0.2em 0;
}